/* VehicleTypeTable.css */
.vehicle-type-table {
    padding: 20px;
  }
  
  .vehicle-type-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .vehicle-type-table th,
  .vehicle-type-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .vehicle-type-table th {
    background-color: hsl(0, 0%, 95%);
    text-align: left;
  }
  
  .vehicle-type-table img {
    width: 50px;
    height: auto;
  }
  
  .vehicle-type-table button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  